
<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">
        XE THEO HÃNG
        <a href="#" class="list-group-item">Kawasaki</a>
        <a href="#" class="list-group-item">BMW</a>
        <a href="#" class="list-group-item">Honda</a>
        <a href="#" class="list-group-item">Ducati</a>
        <a href="#" class="list-group-item">KTM</a>
        <a href="#" class="list-group-item">Harley</a>
        <a href="#" class="list-group-item">Triumph</a>
        <a href="#" class="list-group-item">Yamaha</a>
        <a href="#" class="list-group-item">Suzuki</a>
    </li>
</ul>


